<form action="/calendar" method="POST">
    <input name="calendar[title]" type="text"></input>
    <input name="calendar[description]" type="text"></input>
    <input name="calendar[date]" type="date"></input>
    <input name="calendar[monthRef]" type="month"></input>
    <input type="submit" value="submit"></input>
</form>