<% include templates/header %>

<h1>Registro</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button>Registrar</button>
</form>

<% include templates/footer %>